@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:not(input):not(textarea):not([contenteditable="true"]) {
    caret-color: transparent;
  }

  input,
  select,
  textarea,
  [contenteditable="true"] {
    caret-color: auto;
    font-size: 16px;
  }
}
