@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:not(input):not(textarea):not([contenteditable="true"]) {
    caret-color: transparent;
  }

  input,
  textarea,
  [contenteditable="true"] {
    caret-color: auto;
  }
}
